#canvasMain {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: auto;

    #canvasContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #pathfindingCanvas {
            width: 100%;
        }
    }

    .controlsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        padding: 1rem;

        .checkboxContainer {
            display: flex;
            align-items: center;
        }
    }
}
