@import "../common/utils.scss";

// Canvas

#canvasMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;

    @include md {
        flex-direction: row-reverse;
    }
}

#canvasContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

// Controls

.controlsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1em 2em;
    max-width: 400px;
    width: 100%;

    & > * {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .slidersContainer {
        flex-direction: column;
        gap: 1rem;
    }

    .algoSelect {
        background-color: $hover;
        color: $textPrimary;
        border: none;
        border-radius: 0.25rem;
        padding: 0.5rem;
    }

    .actionsContainer {
        gap: 1rem;
    }
}
