@import "../../../styles/common/utils.scss";

.Navbar {
    background-color: $navbar;
    padding: 1rem;
    margin: 1rem;

    border-radius: 10px;

    position: sticky;
    top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
